[submodule "apps/editor"]
	path = apps/editor
	url = https://github.com/symthink/editor.git
[submodule "apps/org-home"]
	path = apps/org-home
	url = https://github.com/symthink/org-home.git
[submodule "apps/io-site"]
	path = apps/io-site
	url = https://github.com/symthink/io-site.git
[submodule "apps/news"]
	path = apps/news
	url = https://github.com/symthink/news.git
[submodule "backend/functions"]
	path = backend/functions
	url = https://github.com/symthink/functions.git
