@media only screen and (min-width: 768px) {

    /* For desktop: */
    ion-nav {
        max-height        : 90vh;
        max-width         : 600px;
        margin            : auto;
        box-shadow        : -18px 28px 15px 1px rgba(0, 0, 0, 0.63);
        -webkit-box-shadow: -18px 28px 15px 1px rgba(0, 0, 0, 0.63);
        -moz-box-shadow   : -18px 28px 15px 1px rgba(0, 0, 0, 0.63);
    }
}