:host {
  display: block;
  max-width: 600px;
  margin: auto;
}
ion-toolbar.banner {
  --background: linear-gradient(170deg, #e0e0e0 20%, rgb(119 119 119 / 80%))
}
ion-fab-button.nav-back {
  ion-icon.second-chevron {
    margin-left: -25px;
    opacity    : 0.5;
  }
}

.spacer-row {
  width: 100%;
  height: 27px;
}
.invisible {
  visibility: hidden;
  height: 0px;
}